# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Environnements virtuels
venv/
env/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
!/media/.gitkeep

# Variables d'environnement
.env

# Éditeurs / OS
.vscode/
.idea/
.DS_Store
